ITSupportHelpDesk/Client/obj
ITSupportHelpDesk/Client/bin
ITSupportHelpDesk/Client/appsettings.json
ITSupportHelpDesk/Client/wwwroot/Template
ITSupportHelpDesk/Client/appsettings.Development.json
/.vs
ITSupportHelpDesk/.vs
ITSupportHelpDesk/.vs
